<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ config.title }}</title>

        {{ include_svg_icons }}
        {{ include_site_icons }}
        {{ include_styles }}
    </head>

    <body>
        {% for page in config.pages %}
            <input
                type="radio"
                name="tab"
                id="page-{{ page.name | hash }}"
                {% if loop.first %}
                    checked="checked"
                {% endif %}
            />
            <label for="page-{{ page.name | hash }}" >
                <div class="tab">
                    <div class="card">
                        <div>
                            <svg>
                                <use href="{{ svg_icon_href(icon = page.icon, style = page.icon_style) }}" />
                            </svg>
                        </div>
                        <span>{{ page.name }}</span>
                        <span>
                            {{ page.sections | length }} sections,
                            {{ count_links_in_page(page_name = page.name) }} links
                        </span>
                    </div>
                </div>
            </label>
            <article>
                {% for section in page.sections %}
                    <section>
                        <nav>
                            <h1>{{ section.name }}</h1>
                            {% for link in section.links %}
                                <a href="{{ link.url }}">
                                    <div class="{{ link.url | site_icon }}"></div>
                                    <span>{{ link.name }}</span>
                                    <span>{{ link.url }}</span>
                                </a>
                            {% endfor %}
                        </nav>
                    </section>
                {% endfor %}
            </article>
        {% endfor %}
    </body>
</html>

